
.profile-img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}

.about-title {
    font-weight: bold;
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.6;
}

.skill-icon {
    font-size: 2rem;
}

.skill-title {
    font-weight: bold;
}